[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
django-allauth = "*"
django-crispy-forms = "*"
djangorave = "*"

[requires]
python_version = "3.8"
