{% load static %}
<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Martfury - Multi Vendor &amp; Marketplace</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static  'plugins/font-awesome/css/font-awesome.min.css'  %}">
  <link rel="stylesheet" href="{% static  'fonts/Linearicons/Linearicons/Font/demo-files/demo.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/bootstrap/css/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/owl-carousel/assets/owl.carousel.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/owl-carousel/assets/owl.theme.default.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/slick/slick/slick.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/nouislider/nouislider.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/lightGallery-master/dist/css/lightgallery.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/select2/dist/css/select2.min.css'  %}">
  <link rel="stylesheet" href="{% static  'css/style.css'  %}">
  <link rel="stylesheet" href="{% static  'css/market-place-1.css'  %}">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  {% block content %} {% endblock content %}


  <!--Templates JS-->
  <script src="{% static 'plugins/jquery.min.js'  %}"></script>
  <script src="{% static 'plugins/nouislider/nouislider.min.js'  %}"></script>
  <script src="{% static 'plugins/popper.min.js'  %}"></script>
  <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js'  %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'  %}"></script>
  <script src="{% static 'plugins/imagesloaded.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/masonry.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/isotope.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/jquery.matchHeight-min.js'  %}"></script>
  <script src="{% static 'plugins/slick/slick/slick.min.js'  %}"></script>
  <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js'  %}"></script>
  <script src="{% static 'plugins/slick-animation.min.js'  %}"></script>
  <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js'  %}"></script>
  <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js'  %}"></script>
  <script src="{% static 'plugins/select2/dist/js/select2.full.min.js'  %}"></script>
  <script src="{% static 'plugins/gmap3.min.js'  %}"></script>
  <!-- custom scripts-->
  <script src="{% static 'js/main.js'  %}"></script>

</body>

</html>