{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Zersh Stores</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static  'plugins/font-awesome/css/font-awesome.min.css'  %}">
  <link rel="stylesheet" href="{% static  'fonts/Linearicons/Linearicons/Font/demo-files/demo.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/bootstrap/css/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/owl-carousel/assets/owl.carousel.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/owl-carousel/assets/owl.theme.default.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/slick/slick/slick.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/nouislider/nouislider.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/lightGallery-master/dist/css/lightgallery.min.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css'  %}">
  <link rel="stylesheet" href="{% static  'plugins/select2/dist/css/select2.min.css'  %}">
  <link rel="stylesheet" href="{% static  'css/style.css'  %}">
  <link rel="stylesheet" href="{% static  'css/market-place-1.css'  %}">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  <!--Header-->
  {% for ad in ads %}
  {% if ad.active == True%}
  <div class="ps-block--promotion-header bg--cover" data-background="{{ ad.image1920x80.url }}">
    <div class="container">
      <div class="ps-block__left">
        {% if ad.discount_offer %}
        <h3>{{ ad.discount_offer }}</h3>
        <figure>
          <p>Discount</p>
        {% endif %}  
          <h4>{{ ad.description }}</h4>
        </figure>
      </div>
      <div class="ps-block__center">
        <p>{{ ad.description2 }}</p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <header class="header header--standard header--market-place-1" data-sticky="true">
    <div class="header__top">
      <div class="container">
        <div class="header__left">
          <p>Free shipping on orders above UGX.300,000!</p>
        </div>
        <div class="header__right">
          <ul class="header__top-links">
            {% if user.is_seller  %}
            <li><a href="{% url 'seller_dash' %}">My Seller Account</a></li>
            {% elif user.is_authenticated  %}
            <li><a href="{% url 'user_dash' user.id %}">My Account</a></li>
            <li><a href="{% url 'seller_reg' %}">Sell on Zersh Stores</a></li>
            {% else %}
            <li><a href="{% url 'seller_reg' %}">Sell on Zersh Stores</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="header__content">
      <div class="container">
        <div class="header__content-left">
          <div class="menu--product-categories">
            <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Category</span></div>
            <div class="menu__content">
              <ul class="menu--dropdown">
                {% for cat in categories  %}
                  <li class="menu-item-has-children has-mega-menu"><a href="{% url 'cat_detail' cat.id %}">{{ cat.name }}</a><span
                    class="sub-toggle"></span>
                    <div class="mega-menu">
                      <div class="mega-menu__column">
                        <h4>{{ cat.name  }}<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                          {% for subcat in cat.subcategory_set.all %}
                          <li><a href="{% url 'subcat_detail' subcat.id %}">{{ subcat.name }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                <!--
                <li class="menu-item-has-children has-mega-menu"><a href="#"><i class="icon-laundry"></i> Consumer
                    Electronic</a>
                  <div class="mega-menu">
                    <div class="mega-menu__column">
                      <h4>Electronic<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Home Audio &amp; Theathers</a>
                        </li>
                        <li><a href="#">TV &amp; Videos</a>
                        </li>
                        <li><a href="#">Camera, Photos &amp; Videos</a>
                        </li>
                        <li><a href="#">Cellphones &amp; Accessories</a>
                        </li>
                        <li><a href="#">Headphones</a>
                        </li>
                        <li><a href="#">Videosgames</a>
                        </li>
                        <li><a href="#">Wireless Speakers</a>
                        </li>
                        <li><a href="#">Office Electronic</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mega-menu__column">
                      <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Digital Cables</a>
                        </li>
                        <li><a href="#">Audio &amp; Video Cables</a>
                        </li>
                        <li><a href="#">Batteries</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#"><i class="icon-shirt"></i> Clothing &amp; Apparel</a>
                </li>
                <li><a href="#"><i class="icon-lampshade"></i> Home, Garden &amp; Kitchen</a>
                </li>
                <li><a href="#"><i class="icon-heart-pulse"></i> Health &amp; Beauty</a>
                </li>
                <li><a href="#"><i class="icon-diamond2"></i> Yewelry &amp; Watches</a>
                </li>
                <li class="menu-item-has-children has-mega-menu"><a href="#"><i class="icon-desktop"></i> Computer &amp;
                    Technology</a>
                  <div class="mega-menu">
                    <div class="mega-menu__column">
                      <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Computer &amp; Tablets</a>
                        </li>
                        <li><a href="#">Laptop</a>
                        </li>
                        <li><a href="#">Monitors</a>
                        </li>
                        <li><a href="#">Networking</a>
                        </li>
                        <li><a href="#">Drive &amp; Storages</a>
                        </li>
                        <li><a href="#">Computer Components</a>
                        </li>
                        <li><a href="#">Security &amp; Protection</a>
                        </li>
                        <li><a href="#">Gaming Laptop</a>
                        </li>
                        <li><a href="#">Accessories</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#"><i class="icon-baby-bottle"></i> Babies &amp; Moms</a>
                </li>
                <li><a href="#"><i class="icon-baseball"></i> Sport &amp; Outdoor</a>
                </li>
                <li><a href="#"><i class="icon-smartphone"></i> Phones &amp; Accessories</a>
                </li>
                <li><a href="#"><i class="icon-book2"></i> Books &amp; Office</a>
                </li>
                <li><a href="#"><i class="icon-car-siren"></i> Cars &amp; Motocycles</a>
                </li>
                <li><a href="#"><i class="icon-wrench"></i> Home Improments</a>
                </li>
                <li><a href="#"><i class="icon-tag"></i> Vouchers &amp; Services</a>
                </li>
                 -->
              </ul>
            </div>
          </div><a class="ps-logo" href="{% url 'home' %}"><img  src="{% static 'img/zer2.png' %}" alt=""></a>
        </div>
        <div class="header__content-center">
          <form class="ps-form--quick-search" action="{% url 'search_results' %}"
          method="get">
            <div class="form-group--icon"><i class="icon-chevron-down"></i>
              <select class="form-control">
                <option value="1">All</option>
                <option value="1">Smartphone</option>
                <option value="1">Sounds</option>
                <option value="1">Technology toys</option>
              </select>
            </div>
            <input name="q" class="form-control" type="text" placeholder="I'm shopping for...">
            <button>Search</button>
          </form>
        </div>
        <div class="header__content-right">
          <div class="header__actions">
            <div class="ps-cart--mini"><a class="header__extra" href="{% url 'cart' %}"><i
                  class="icon-bag2"></i><span><i>{{ request.user|cart_item_counter }}</i></span></a>
              
            </div>
            <div class="ps-block--user-header">
              <div class="ps-block__left"><i class="icon-user"></i></div>
              <div class="ps-block__right">
                {% if user.is_authenticated %}
                <a href="">Hi {{ user.username }}</a>
                <a href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'account_login' %}">Login</a>
                <a href="{% url 'account_signup' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navigation">
      <div class="container">
        <div class="navigation__left">
          <div class="menu--product-categories">
            <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Category</span></div>
            <div class="menu__content">
              <ul class="menu--dropdown">
                {% for cat in categories  %}
                <li class="menu-item-has-children has-mega-menu"><a href="{% url 'cat_detail' cat.id %}">{{ cat.name }}</a><span
                  class="sub-toggle"></span>
                  <div class="mega-menu">
                    <div class="mega-menu__column">
                      <h4>{{ cat.name  }}<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        {% for subcat in cat.subcategory_set.all %}
                        <li><a href="{% url 'subcat_detail' subcat.id %}">{{ subcat.name }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </li>
                {% endfor %}
                <!--
                <li class="menu-item-has-children has-mega-menu"><a href="#"><i class="icon-laundry"></i> Consumer
                    Electronic</a>
                  <div class="mega-menu">
                    <div class="mega-menu__column">
                      <h4>Electronic<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Home Audio &amp; Theathers</a>
                        </li>
                        <li><a href="#">TV &amp; Videos</a>
                        </li>
                        <li><a href="#">Camera, Photos &amp; Videos</a>
                        </li>
                        <li><a href="#">Cellphones &amp; Accessories</a>
                        </li>
                        <li><a href="#">Headphones</a>
                        </li>
                        <li><a href="#">Videosgames</a>
                        </li>
                        <li><a href="#">Wireless Speakers</a>
                        </li>
                        <li><a href="#">Office Electronic</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mega-menu__column">
                      <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Digital Cables</a>
                        </li>
                        <li><a href="#">Audio &amp; Video Cables</a>
                        </li>
                        <li><a href="#">Batteries</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#"><i class="icon-shirt"></i> Clothing &amp; Apparel</a>
                </li>
                <li><a href="#"><i class="icon-lampshade"></i> Home, Garden &amp; Kitchen</a>
                </li>
                <li><a href="#"><i class="icon-heart-pulse"></i> Health &amp; Beauty</a>
                </li>
                <li><a href="#"><i class="icon-diamond2"></i> Yewelry &amp; Watches</a>
                </li>
                <li class="menu-item-has-children has-mega-menu"><a href="#"><i class="icon-desktop"></i> Computer &amp;
                    Technology</a>
                  <div class="mega-menu">
                    <div class="mega-menu__column">
                      <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                      <ul class="mega-menu__list">
                        <li><a href="#">Computer &amp; Tablets</a>
                        </li>
                        <li><a href="#">Laptop</a>
                        </li>
                        <li><a href="#">Monitors</a>
                        </li>
                        <li><a href="#">Networking</a>
                        </li>
                        <li><a href="#">Drive &amp; Storages</a>
                        </li>
                        <li><a href="#">Computer Components</a>
                        </li>
                        <li><a href="#">Security &amp; Protection</a>
                        </li>
                        <li><a href="#">Gaming Laptop</a>
                        </li>
                        <li><a href="#">Accessories</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#"><i class="icon-baby-bottle"></i> Babies &amp; Moms</a>
                </li>
                <li><a href="#"><i class="icon-baseball"></i> Sport &amp; Outdoor</a>
                </li>
                <li><a href="#"><i class="icon-smartphone"></i> Phones &amp; Accessories</a>
                </li>
                <li><a href="#"><i class="icon-book2"></i> Books &amp; Office</a>
                </li>
                <li><a href="#"><i class="icon-car-siren"></i> Cars &amp; Motocycles</a>
                </li>
                <li><a href="#"><i class="icon-wrench"></i> Home Improments</a>
                </li>
                <li><a href="#"><i class="icon-tag"></i> Vouchers &amp; Services</a>
                </li>
               -->
              </ul>
            </div>
          </div>
        </div>
        <div class="navigation__right">
          <ul class="menu">
            <li class="current-menu-item menu-item-has-children"><a href="{% url 'home' %}">Home</a><span
                class="sub-toggle"></span>
              
            </li>
            <li class="menu-item-has-children has-mega-menu"><a href="#">Pages</a><span class="sub-toggle"></span>
              <div class="mega-menu">
                <div class="mega-menu__column">
                  <h4>Basic Page<span class="sub-toggle"></span></h4>
                  <ul class="mega-menu__list">
                    <li><a href="{% url 'about' %}">About Us</a>
                    </li>
                    <li><a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li><a href="{% url 'terms' %}">Terms & Condition</a>
                    </li>
                    <li><a href="{% url 'how_to_sell' %}">How to sell on Zersh</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <div class="ps-block--header-hotline inline">
            <p><i class="icon-telephone"></i>Hotline:<strong> 0783754870 | 0759018540</strong></p>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <header class="header header--mobile" data-sticky="true">
    <div class="header__top">
      <div class="header__left">
        <p>Welcome to Zersh Online Shopping Store !</p>
      </div>
      <div class="header__right">
        <ul class="navigation__extra">
          <li><a href="#">Sell on Zersh</a></li>
        </ul>
      </div>
    </div>
    <div class="navigation--mobile">
      <div class="navigation__left"><a class="ps-logo" href="{% url 'home' %}"><img src="{% static 'img/zer1.png' %}" alt=""></a></div>
      <div class="navigation__right">
        <div class="header__actions">
          <div class="ps-cart--mini"><a class="header__extra" href="{% url 'cart' %}"><i
                class="icon-bag2"></i><span><i>{{ request.user|cart_item_counter }}</i></span></a>
            
          </div>
          <div class="ps-block--user-header">
            <div class="ps-block__left" >
              {% if user.is_authenticated %}
              <a class="header__extra" href="{% url 'user_dash' user.id %}"><i class="icon-user"></i></a>
              {% else %}
              <i class="icon-user"></i>
              {% endif %}
            </div>
            <div class="ps-block__right">
              {% if user.is_authenticated %}
                <a href="">Hi {{ user.username }}</a>
                <a href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'account_login' %}">Login</a>
                <a href="{% url 'account_signup' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-search--mobile">
      <form class="ps-form--search-mobile" action="{% url 'search_results' %}"
      method="get">
        <div class="form-group--nest">
          <input name="q" class="form-control" type="text" placeholder="Search something...">
          <button><i class="icon-magnifier"></i></button>
        </div>
      </form>
    </div>
  </header>
  <div class="ps-panel--sidebar" id="cart-mobile">
    <div class="ps-panel__header">
      <h3>Shopping Cart</h3>
    </div>
    <div class="navigation__content">
      
    </div>
  </div>
  <div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
      <h3>Categories</h3>
    </div>
    <div class="ps-panel__content">
      <ul class="menu--mobile">

        {% for cat in categories  %}
        <li class="menu-item-has-children has-mega-menu"><a href="{% url 'cat_detail' cat.id %}">{{ cat.name }}</a><span
          class="sub-toggle"></span>
          <div class="mega-menu">
            <div class="mega-menu__column">
              <h4>{{ cat.name  }}<span class="sub-toggle"></span></h4>
              <ul class="mega-menu__list">
                {% for subcat in cat.subcategory_set.all %}
                <li><a href="{% url 'subcat_detail' subcat.id %}">{{ subcat.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        {% endfor %}
        <!--
        <li class="menu-item-has-children has-mega-menu"><a href="#">Consumer Electronic</a><span
            class="sub-toggle"></span>
          <div class="mega-menu">
            <div class="mega-menu__column">
              <h4>Electronic<span class="sub-toggle"></span></h4>
              <ul class="mega-menu__list">
                <li><a href="#">Home Audio &amp; Theathers</a>
                </li>
                <li><a href="#">TV &amp; Videos</a>
                </li>
                <li><a href="#">Camera, Photos &amp; Videos</a>
                </li>
                <li><a href="#">Cellphones &amp; Accessories</a>
                </li>
                <li><a href="#">Headphones</a>
                </li>
                <li><a href="#">Videosgames</a>
                </li>
                <li><a href="#">Wireless Speakers</a>
                </li>
                <li><a href="#">Office Electronic</a>
                </li>
              </ul>
            </div>
            <div class="mega-menu__column">
              <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
              <ul class="mega-menu__list">
                <li><a href="#">Digital Cables</a>
                </li>
                <li><a href="#">Audio &amp; Video Cables</a>
                </li>
                <li><a href="#">Batteries</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">Clothing &amp; Apparel</a>
        </li>
        <li><a href="#">Home, Garden &amp; Kitchen</a>
        </li>
        <li><a href="#">Health &amp; Beauty</a>
        </li>
        <li><a href="#">Yewelry &amp; Watches</a>
        </li>
        <li class="menu-item-has-children has-mega-menu"><a href="#">Computer &amp; Technology</a><span
            class="sub-toggle"></span>
          <div class="mega-menu">
            <div class="mega-menu__column">
              <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
              <ul class="mega-menu__list">
                <li><a href="#">Computer &amp; Tablets</a>
                </li>
                <li><a href="#">Laptop</a>
                </li>
                <li><a href="#">Monitors</a>
                </li>
                <li><a href="#">Networking</a>
                </li>
                <li><a href="#">Drive &amp; Storages</a>
                </li>
                <li><a href="#">Computer Components</a>
                </li>
                <li><a href="#">Security &amp; Protection</a>
                </li>
                <li><a href="#">Gaming Laptop</a>
                </li>
                <li><a href="#">Accessories</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">Babies &amp; Moms</a>
        </li>
        <li><a href="#">Sport &amp; Outdoor</a>
        </li>
        <li><a href="#">Phones &amp; Accessories</a>
        </li>
        <li><a href="#">Books &amp; Office</a>
        </li>
        <li><a href="#">Cars &amp; Motocycles</a>
        </li>
        <li><a href="#">Home Improments</a>
        </li>
        <li><a href="#">Vouchers &amp; Services</a>
        </li>
        -->
      </ul>
    </div>
  </div>
  <div class="navigation--list">
    <div class="navigation__content"><a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i
          class="icon-menu"></i><span> Menu</span></a><a class="navigation__item ps-toggle--sidebar"
        href="#navigation-mobile"><i class="icon-list4"></i><span> Categories</span></a><a
        class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-magnifier"></i><span>
          Search</span></a><a class="navigation__item ps-toggle--sidebar" href="{% url 'cart' %}"><i
          class="icon-bag2"></i><span> Cart</span></a></div>
  </div>
  <div class="ps-panel--sidebar" id="search-sidebar">
    <div class="ps-panel__header">
      <form class="ps-form--search-mobile" action="{% url 'search_results' %}"
      method="get">
        <div class="form-group--nest">
          <input name="q" class="form-control" type="text" placeholder="Search something...">
          <button><i class="icon-magnifier"></i></button>
        </div>
      </form>
    </div>
    <div class="navigation__content"></div>
  </div>
  <div class="ps-panel--sidebar" id="menu-mobile">
    <div class="ps-panel__header">
      <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
      <ul class="menu--mobile">
        <li class="current-menu-item menu-item-has-children"><a href="{% url 'home' %}">Home</a><span
            class="sub-toggle"></span>
        </li>
        <li class="menu-item-has-children has-mega-menu"><a href="">Pages</a><span class="sub-toggle"></span>
          <div class="mega-menu">
            <div class="mega-menu__column">
              <h4>Basic Page<span class="sub-toggle"></span></h4>
              <ul class="mega-menu__list">
                <li><a href="{% url 'about' %}">About Us</a>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a>
                </li>
                <li><a href="{% url 'terms' %}">Terms & Condition</a>
                </li>
                <li><a href="{% url 'how_to_sell' %}">How to sell on Zersh</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  <!--Header End-->

  <div class="mt-5 py-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
  </div>

  {% block content %} {% endblock content %}


  <!--Footer-->
  <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter" action="do_action" method="post">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Subscribe Instantly!</h3>
                        <p>Be the first to find out when the prices drop or when juicy deals are available just for you!</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Email address">
                            <button class="ps-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  <footer class="ps-footer">
    <div class="container">
      <div class="ps-footer__widgets">
        <aside class="widget widget_footer widget_contact-us">
          <h4 class="widget-title">Contact us</h4>
          <div class="widget_content">
            <p>Call us 24/7</p>
            <h3>0783754870 | 0759018540</h3>
            <p>Kampala, Uganda <br><a href="mailto:info@zershstores.com">info@zershstores.com</a>
            </p>
            <ul class="ps-list--social">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </aside>
        <aside class="widget widget_footer">
          <h4 class="widget-title">About Zersh</h4>
          <ul class="ps-list--link">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            
          </ul>
      </aside>
      <aside class="widget widget_footer">
        <h4 class="widget-title">Support</h4>
        <ul class="ps-list--link">
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
            <li><a href="{% url 'order_policy' %}">Return and Order Policy</a></li>
            <li><a href="{% url 'how_to_sell' %}">How to sell on Zersh</a></li>
        </ul>
    </aside>
    <aside class="widget widget_footer">
      <h4 class="widget-title">My Zersh</h4>
      <ul class="ps-list--link">
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'contact' %}">Become an Affiliate</a></li>
          <li><a href="{% url 'seller_reg' %}">Sell with Zersh</a></li>
          <li><a href="#">Advertise with Us</a></li>
      </ul>
  </aside>
      </div>
     
      <div class="ps-footer__copyright">
        <p>© 2020 Zersh Stores. All Rights Reserved | Built by <a href="https://theanchor.agency/">Anchor Innovations Limited</a></p>
        <p><span>We use secure payment gateways you can trust:</span><a href="#"><img src="{% static 'img/payment-method/1.jpg' %}" alt=""></a><a
            href="#"><img src="img/payment-method/2.jpg" alt=""></a><a href="#"><img src="img/payment-method/3.jpg"
              alt=""></a><a href="#"><img src="img/payment-method/4.jpg" alt=""></a><a href="#"><img
              src="img/payment-method/5.jpg" alt=""></a></p>
      </div>
    </div>
  </footer>
  <div id="back2top"><i class="pe-7s-angle-up"></i></div>
  <div class="ps-site-overlay"></div>
  <div id="loader-wrapper">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <div class="ps-search" id="site-search"><a class="ps-btn--close" href="#"></a>
    <div class="ps-search__content">
      <form class="ps-form--primary-search" action="do_action" method="post">
        <input class="form-control" type="text" placeholder="Search for...">
        <button><i class="aroma-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
  <div class="modal fade" id="product-quickview" tabindex="-1" role="dialog" aria-labelledby="product-quickview"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"><span class="modal-close" data-dismiss="modal"><i class="icon-cross2"></i></span>
        <article class="ps-product--detail ps-product--fullwidth ps-product--quickview">
          <div class="ps-product__header">
            <div class="ps-product__thumbnail" data-vertical="false">
              <div class="ps-product__images" data-arrow="true">
                <div class="item"><img src="img/products/detail/fullwidth/1.jpg" alt=""></div>
                <div class="item"><img src="img/products/detail/fullwidth/2.jpg" alt=""></div>
                <div class="item"><img src="img/products/detail/fullwidth/3.jpg" alt=""></div>
              </div>
            </div>
            <div class="ps-product__info">
              <h1>Marshall Kilburn Portable Wireless Speaker</h1>
              <div class="ps-product__meta">
                <p>Brand:<a href="shop-default.html">Sony</a></p>
                <div class="ps-product__rating">
                  <select class="ps-rating" data-read-only="true">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="2">5</option>
                  </select><span>(1 review)</span>
                </div>
              </div>
              <h4 class="ps-product__price">$36.78 – $56.99</h4>
              <div class="ps-product__desc">
                <p>Sold By:<a href="shop-default.html"><strong> Go Pro</strong></a></p>
                <ul class="ps-list--dot">
                  <li> Unrestrained and portable active stereo speaker</li>
                  <li> Free from the confines of wires and chords</li>
                  <li> 20 hours of portable capabilities</li>
                  <li> Double-ended Coil Cord with 3.5mm Stereo Plugs Included</li>
                  <li> 3/4″ Dome Tweeters: 2X and 4″ Woofer: 1X</li>
                </ul>
              </div>
              <div class="ps-product__shopping"><a class="ps-btn ps-btn--black" href="#">Add to cart</a><a
                  class="ps-btn" href="#">Buy Now</a>
                <div class="ps-product__actions"><a href="#"><i class="icon-heart"></i></a><a href="#"><i
                      class="icon-chart-bars"></i></a></div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!--Footer End-->


  <!--Templates JS-->
  <script src="{% static 'plugins/jquery.min.js'  %}"></script>
  <script src="{% static 'plugins/nouislider/nouislider.min.js'  %}"></script>
  <script src="{% static 'plugins/popper.min.js'  %}"></script>
  <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js'  %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'  %}"></script>
  <script src="{% static 'plugins/imagesloaded.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/masonry.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/isotope.pkgd.min.js'  %}"></script>
  <script src="{% static 'plugins/jquery.matchHeight-min.js'  %}"></script>
  <script src="{% static 'plugins/slick/slick/slick.min.js'  %}"></script>
  <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js'  %}"></script>
  <script src="{% static 'plugins/slick-animation.min.js'  %}"></script>
  <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js'  %}"></script>
  <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js'  %}"></script>
  <script src="{% static 'plugins/select2/dist/js/select2.full.min.js'  %}"></script>
  <script src="{% static 'plugins/gmap3.min.js'  %}"></script>
  <!--<script src="{% static 'djangorave/js/payment.js' %}"></script>-->
  <!-- custom scripts-->
  <script src="{% static 'js/main.js'  %}"></script>

</body>

</html>