{% extends 'base.html' %}
{% block content %}

<div class="ps-vendor-dashboard">
    <div class="container">
        <div class="ps-section__content">
            <ul class="ps-section__links">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="{% url 'seller_add_pdt' %}">Add Product</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Setting</a></li>
                <li><a href="#">View Store</a></li>
            </ul>
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header">
                    <h3>Recently Added Products</h3>
                </div>
                <div class="ps-block__content">
                    <div class="table-responsive">
                        <table class="table ps-table ps-table--vendor">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td><a href="{% url 'pdt_detail' product.id %}">{{ product.name }}</a></td>
                                    <td>UGX {{ product.price }}</td>
                                </tr>
                                {% endfor %}
                                <!--
                                    <tr>
                                    <td colspan="3"><strong>Total</strong></td>
                                    <td><strong>124 Sale</strong></td>
                                    <td colspan="2"><strong>$12.104.725</strong></td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header">
                    <h3>Recent Orders</h3>
                </div>
                <div class="ps-block__content">
                    <div class="table-responsive">
                        {% for order in orders %}
                            {% if order.complete == True %}
                                <h5>{{ order.date_ordered }}</h5>
                                <table class="table ps-table ps-table--vendor">
                                    <thead>
                                        <tr>
                                            <th>date</th>
                                            <th>Order ID</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order.orderitem_set.all %}
                                            {% if item.product.seller.username == user.username %}
                                                <tr>
                                                    <td>Nov 4, 2019</td>
                                                    <td><a href="#">MS46891357</a></td>td>$00.00</td>
                                                    <td>$295.47</td>
                                                    <td><a href="#">Open</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}